---
import { AVAILABLE_COFFEES } from "../database/coffeeInformation";
import CoffeeCard from "../components/CoffeeCard.astro";
import CoffeeShopCard from "../components/CoffeeShopCard.astro";
import { AVAILABLE_SHOPS } from "../database/shopInformation";
import "../../styles.css"
import "../../styles/modal.css"


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <script
      src="https://kit.fontawesome.com/d5a98b8c2b.js"
      crossorigin="anonymous"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/modal.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="">
    <header
      class="bg-white sticky hidden sm:flex top-0 shadow-sm w-full h-16 justify-center z-50 border-b"
    >
      <ul class="flex items-center gap-16">
        <a href="#main">
          <li class="headerLink">home</li>
        </a>
        <a href="#contact">
          <li class="headerLink">contact</li>
        </a>
        <a href="#about">
          <li class="headerLink">about</li>
        </a>
        <a href="#find-us" <li class="headerLink">find us</a>
        <li
          class="headerLink bg-amber-600 border p-2 px-4 flex rounded-full !text-white hover:bg-transparent hover:!border-amber-600 border-transparent duration-200 hover:!text-amber-600 !no-underline"
        >
          <a href="#products">Purchase Products</a>
        </li>
      </ul>
    </header>

    <nav
      class="fixed z-50 top-0 sm:hidden shadow-sm flex items-center h-screen"
    >
      <label class="hamburger-menu">
        <input type="checkbox" />
      </label>
      <aside class="sidebar">
        <nav>
          <ul
            class="flex items-center flex-col gap-8 justify-center mt-8 w-full"
          >
            <a href="#main" class="nav-link">
              <li class="text-white font-medium">Home</li>
            </a>
            <a href="#contact" class="nav-link">
              <li class="text-white font-medium">Contact</li>
            </a>
            <a href="#about" class="nav-link">
              <li class="text-white font-medium">About</li>
            </a>
            <a href="#find-us" class="nav-link">
              <li class="text-white font-medium w-full">Find us</li>
            </a>
            <a href="#products" class="nav-link">
              <li class="text-white font-medium">Products</li>
            </a>

              
          </ul>
    
        </nav>
      </aside>
    </nav>

    <main class="mt-16 sm:mt-0">
      <section 
        class="flex w-full items-center max-w-full text-center py-8 px-8"
        id="main"
      >
        <div class="flex animate__fadeInLeft animate__animated flex-col w-full space-y-4">
          <h1
            
            class="w-full title-gradient z-50 md:text-6xl font-bold uppercase font-Bebas-Neue our-text"
          >
            UBA Coffee
          </h1>
          <span
            class="w-full font-medium uppercase text-4xl font-Bebas-Neue text-amber-600"
            >Taste the Difference</span
          >
          <p class="text-slate-500 font-Bebas-Neue">
            Get started today by ordering one of our products for free!
          </p>
          <div class="w-full flex justify-center m-auto">
            <a
              href="#products"
              class="bg-amber-600 border animate__animated animate__rollIn p-2 px-4 rounded-full !text-white hover:bg-transparent hover:!border-amber-600 border-transparent duration-200 hover:!text-amber-600 !no-underline max-w-[200px] font-medium !mt-4"
            >
              Order Now <i class="fa-solid fa-mug-saucer ml-1"></i>
            </a>
          </div>
        </div>
        <div
          class="container animate__animated animate__slideInUp group max-w-lg max-h-full relative justify-start hidden lg:flex"
        >
          <div
            class="hdden lg:!absolute h-[500px] hover:bg-red-500 hover:!opacity-10 duration-300 z-40 rounded-full w-[500px] translate-y-6 bg-red-500 lg:!opacity-5 overflow-hidden"
          >
          </div>
          <img
            alt="Coffee image"
            class="group-hover:scale-105 duration-200"
            src="/resources/coffee.png"
          />
        </div>
      </section>

      <section data-aos="fade-up"      class="my-16">

        <h2
          class="font-Bebas-Neue text-4xl font-bold text-center mb-2 uppercase"
        >
          Best Sellers
        </h2>
        <span
          class="text-center flex justify-center mb-8 text-lg font-Bebas-Neue text-amber-600"
          >See our best products</span
        >
        <div
          id="default-carousel"
          class="relative w-full"
          data-carousel="slide"
        >
          <!-- Carousel wrapper -->
          <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img
                src="../resources/coffee-2.jpg"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
              />
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img
                src="../resources/coffee-3.jpg"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
              />
            </div>
          </div>
          <!-- Slider indicators -->
          <div
            class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2"
          >
            <button
              type="button"
              class="w-3 h-3 rounded-full"
              aria-current="true"
              aria-label="Slide 1"
              data-carousel-slide-to="0"></button>
            <button
              type="button"
              class="w-3 h-3 rounded-full"
              aria-current="false"
              aria-label="Slide 2"
              data-carousel-slide-to="1"></button>
          </div>
          <!-- Slider controls -->
          <button
            type="button"
            class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                class="w-4 h-4 text-white dark:text-gray-800"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 1 1 5l4 4"></path>
              </svg>
              <span class="sr-only">Previous</span>
            </span>
          </button>
          <button
            type="button"
            class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                class="w-4 h-4 text-white dark:text-gray-800"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"></path>
              </svg>
              <span class="sr-only">Next</span>
            </span>
          </button>
        </div>
      </section>

      <section class="my-16 px-8 lg:px-16" data-aos="fade-up" id="products">
        <h2
          class="font-Bebas-Neue text-4xl font-bold text-center mb-2 uppercase"
        >
          Products
        </h2>
        <span
          class="text-center flex justify-center mb-8 text-lg font-Bebas-Neue text-amber-600"
          >See our Catalog</span
        >

        <div data-aos="fade-up"
          class="flex gap-8 flex-col lg:flex-row justify-center m-auto items-center "
        >
          {
            AVAILABLE_COFFEES.map((coffee) => {
              const { coffeeName, price, description, imageURL } = coffee;

              return (
                <CoffeeCard
                  coffeeName={coffeeName}
                  price={price}
                  description={description}
                  imageURL={imageURL}
                />
              );
            })
          }
        </div>
      </section>

      <section id="about" data-aos="fade-up" class="px-8">
        <h2
          class="font-Bebas-Neue text-4xl font-bold text-center mb-2 uppercase"
        >
          about us
        </h2>
        <span
          class="text-center flex justify-center mb-8 text-lg font-Bebas-Neue text-amber-600"
          >Learn about the company</span
        >

        <div class="m-auto max-w-[1050px]">
          <p class="leading-loose text-slate-500 font-Bebas-Neue mb-4">
            At UBA Coffee, we believe that coffee is more than just a drink.
            It's a way to start your day off right, to connect with friends, and
            to take a moment to appreciate the simple things in life. That's why
            we're committed to serving you the best possible cup of coffee, made
            with the freshest beans and roasted to perfection. We've been in the
            business for over 10 years, and we've learned a thing or two about
            coffee. We know how to source the best beans, how to roast them
            perfectly, and how to brew them to perfection. We also know that
            everyone likes their coffee differently, so we offer a wide variety
            of drinks to choose from, whether you're a fan of classic black
            coffee or something more adventurous. But we're more than just a
            coffee shop.
          </p>
        </div>

        <div
          id="default-carousel"
          class="relative w-full"
          data-carousel="slide"
        >
          <!-- Carousel wrapper -->
          <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img
                src="/resources/coffee-people.jpg"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
              />
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img
                src="/resources/coffee-people-2.jpg"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
              />
            </div>
          </div>
          <!-- Slider indicators -->
          <div
            class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2"
          >
            <button
              type="button"
              class="w-3 h-3 rounded-full"
              aria-current="true"
              aria-label="Slide 1"
              data-carousel-slide-to="0"></button>
            <button
              type="button"
              class="w-3 h-3 rounded-full"
              aria-current="false"
              aria-label="Slide 2"
              data-carousel-slide-to="1"></button>
          </div>
          <!-- Slider controls -->
          <button
            type="button"
            class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                class="w-4 h-4 text-white dark:text-gray-800"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 1 1 5l4 4"></path>
              </svg>
              <span class="sr-only">Previous</span>
            </span>
          </button>
          <button
            type="button"
            class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                class="w-4 h-4 text-white dark:text-gray-800"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"></path>
              </svg>
              <span class="sr-only">Next</span>
            </span>
          </button>
        </div>

        <section class="px-8 lg:px-16" id="find-us" data-aos="fade-up">
          <h2
            class="font-Bebas-Neue text-4xl font-bold text-center mb-2 uppercase mt-16"
          >
            Find Us
          </h2>
          <span
            class="text-center flex justify-center mb-8 text-lg font-Bebas-Neue text-amber-600"
            >Our Stores Around the World</span
          >
          <div
            class="flex flex-col md:flex-row justify-center items-center gap-4"
          >
            {
              AVAILABLE_SHOPS.map((shop) => {
                const { address, city, description, imageURL } = shop;

                return (
                  <CoffeeShopCard
                    city={city}
                    address={address}
                    description={description}
                    imageURL={imageURL}
                  />
                );
              })
            }
          </div>
        </section>
      </section>
    </main>

    <section data-aos="fade-up" class="mt-16" id="contact">
      <h2 class="font-Bebas-Neue text-4xl font-bold text-center mb-2 uppercase">
        Contact us
      </h2>

      <span
        class="text-center flex justify-center mb-8 text-lg font-Bebas-Neue text-amber-600"
        >Reach out to us</span
      >
      <form
        class="space-y-6 flex flex-col px-8 lg:px-16 max-w-[800px] justify-center m-auto"
      >
        <input
          class="border text-sm px-2 p-2 rounded-xl"
          placeholder="Name and Last Name"
          name="fullName"
        />
        <input
          class="px-2 border text-sm rounded-xl p-2"
          placeholder="Email"
          name="email"
        />
        <textarea
          class="border px-2 p-2 text-sm min-h-[200px] border-slate-200 rounded-xl"
          placeholder="Your message here..."
          name="message"></textarea>
        <button
          id="submitButton"
          class="bg-amber-600 border p-2 px-4 !mt-6 rounded-xl ring-amber-600 !text-white hover:bg-transparent hover:!border-amber-600 border-transparent duration-200 hover:!text-amber-600 !no-underline max-w-[200px] font-medium"
        >
          Send Message
        </button>
      </form>
    </section>

    <footer
      class="flex justify-center items-center gap-4 bg-amber-600 text-white p-4 mt-16"
    >
      <p class="font-medium text-sm">Copyright &copy; 2023 UBA Coffee</p>
    </footer>

    <script>
      import AOS from 'aos';
      import 'aos/dist/aos.css'; // You can also use <link> for styles
      
      AOS.init();
      </script>
      
  </body>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"
  ></script>
  
</html>
